<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Wolox">
  <link rel="stylesheet" type="text/css" href="application.css">
  <title>WBooks</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>
<body ng-app="wbooks">
  <nav class="nav">
    <img class="nav-logo" src="assets/wbooks_logo.svg" alt="Wolox">
    <div class="nav-items">
      <img class="nav-item" src="assets/notifications.svg" alt="notifications">
      <img class="nav-item" src="assets/add_book.svg" alt="add_book">
      <img class="nav-avatar" src="assets/avatar.png" alt="avatar">
    </div>
  </nav>
  <div class="container" ng-controller="dashboardController">
    <div class="book-search">
      <select ng-model="queryBy" class="custom-select" >
        <option value="$">Seleccionar filtro</option>
        <option value="title">Nombre</option>
        <option value="author">Autor</option>
      </select>
      <input class="search-input" ng-model="query[queryBy]" placeholder="Buscar..."/>
      <button class="search-img"></button>
    </div>
    <div class="book-list" >
      <div class="book" ng-repeat="book in books | filter:query">
        <img class="book-cover" ng-src="{{book.image_url}}">
        <span class="book-title">{{book.title}}</span>
        <span class="book-author">{{book.author}}</span>
      </div>
    </div>
  </div>
</body>
<script src="js/app.js"></script>
<script src="js/controllers/dashboardController.js"></script>
</html>
