.login-container {
  background-color: $alto;
}

.signup {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  max-width: 100%;
  padding: 30px;
  width: 600px;

  &.submitted .ng-invalid {
    border: 1px solid #F00;
  }
}

.login-text {
  @extend %robotoRegular;
  height: 20px;
  @include book-text($black, $tiny-font-size);
  margin-top: 30px;
}
.login-input {
  background-color: $wild-sand;
  @extend %robotoItalic;
  height: 40px;
  margin: 10px 0;
}

.btn-login {
  align-self: center;
  background-color: $wolox-blue;
  @extend %robotoBold;
  height: 40px;
  @include book-text($white, #{$tiny-font-size + 6});
  width: 175px;
}

.error {
  color: $red;
}
