.login-container
  form.signup(name="userForm", ng-submit="$ctrl.sendForm()")
    label.login-text Email
    input.login-input(type="email", id="email", name="email", ng-model="$ctrl.user.email" required)
    span.error(ng-show="userForm.email.$error.required") Email invalido!
    label.login-text Contraseña
    input.login-input(type="password", id="password", name="password", ng-model="$ctrl.user.password" required)
    span.error(ng-show="userForm.password.$error.required") Contraseña invalida!
    label.login-text Nombre
    input.login-input(type="text", id="name", name="name", ng-model="$ctrl.user.name" required)
    span.error(ng-show="userForm.name.$error.required") Nombre invalido!
    label.login-text Apellido
    input.login-input(type="text", id="lastname", name="lastname", ng-model="$ctrl.user.lastname" required)
    span.error(ng-show="userForm.lastname.$error.required") Apellido invalido!
    button.btn-login(type="submit") Registrarse
