doctype html
html(lang='en')
  head
    title WBooks
    meta(charset='UTF-8')
    meta(name='viewport'
      content='width=device-width, initial-scale=1')
    link(href='/css/vendor.css' rel='stylesheet')
    link(href='/css/application.css' rel='stylesheet')
    base(href='/')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js")
  body(ng-app="wbooks")
    nav(class="nav")
      img(class="nav-logo", src="assets/wbooks_logo.svg", alt="Wolox")
      div(class="nav-items")
        img(class="nav-item", src="assets/notifications.svg", alt="notifications")
        img(class="nav-item", src="assets/add_book.svg", alt="add_book")
        img(class="nav-avatar", src="assets/avatar.png", alt="avatar")
    div(class="container", ng-controller="dashboardCtrl as dbc")
      form(class="book-search", ng-submit="dbc.filterBooks()")
        select(ng-model="dbc.filterType", class="custom-select")
          option(value="") Seleccionar filtro
          option(value="title") Nombre
          option(value="author") Autor
        input(class="search-input", ng-model="dbc.filterValue", placeholder="Buscar...")
        button(type="submit", class="search-img")
      div(class="book-list")
        div(class="book", ng-repeat="book in dbc.filteredBooks")
          img(class="book-cover", ng-src="{{book.image_url}}")
          span(class="book-title") {{book.title}}
          span(class="book-author") {{book.author}}
  <script src="js/app.js">
  <script src="js/controllers/dashboardController.js">
  // inject:js
  // endinject
