%item-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

@mixin shadow {
  box-shadow: 4px 4px 10px $black-transparent;
}

@mixin text-format($size,$weight,$height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

.books-container {
  background-color: $wild-sand;
  height: 100%;
  width: 100%;
}

.back-button {
  font-size: 20px;
  line-height: 24px;
  margin: 50px 30px;

  &:before {
    content: url('assets/back-arrow-20.png');
    padding: 10px;
    vertical-align: middle;
  }
}

.background {
  background-color: $wild-sand;
  height: 100%;
  width: 100%;
}

.book {
  background-color: $white;
  display: flex;
  @include shadow;
  margin: 50px auto;
  max-height: 415px;
  max-width: 1000px;
  padding: 20px;
  position: relative;
  width: 100%;
}

.book-info {
  margin: 0 50px;
  width: 100%;
}

.book-img {
  height: 100%;
  width: 260px;
}

.book-badge {
  left: -50px;
  position: absolute;
  top: 20px;
  transform: rotate(20deg) scale(0.2);
  transform-origin: top right;
}

.book-header {
  border-bottom: 4px solid $earls-green;
  @extend %item-row;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.book-item {
  @extend %item-row;
  margin: 50px auto;
}

.book-title,
.item-key {
  color: $black;
}

.book-gender,
.item-value {
  color: $grey;
}

.book-title {
  @include text-format(#{$big-font-size + 12}, $font-weight, #{$line-height-base + 18});
  margin-right: 5px;
}

.book-gender {
  @include text-format(#{$big-font-size + 4}, $font-weight, #{$line-height-base + 8});
}

.item-key {
  @include text-format($big-font-size, $font-weight, $line-height-base);
  margin-right: 5px;
}

.item-value {
  font-size: $big-font-size;
  line-height: #{$line-height-base + 4};
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.list-book {
  background-color: $white;
  display: flex;
  flex-flow: column wrap;
  @include shadow;
  margin: 20px;
  padding: 25px;
}

.list-book-img {
  height: 200px;
  width: 140px;
}

.list-book-title {
  @include text-format(#{$big-font-size - 4}, $font-weight, #{$line-height-base - 2});
  margin-top: 10px;
}

.list-book-author {
  color: $grey;
  font-size: #{$big-font-size - 6};
  line-height: #{$line-height-base -2};
  margin-top: 5px;
}
