%item-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

@mixin shadow {
  box-shadow: 4px 4px 10px 0 $black-transparent;
}

@mixin texto($size,$weight,$height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

.background {
  background-color: $wild-sand;
  height: 100%;
  width: 100%;
}

.book {
  background-color: $white;
  display: flex;
  flex-wrap: wrap;
  @include shadow;
  margin: 0 auto;
  max-height: 415px;
  max-width: 1000px;
  padding: 20px;
  position: relative;
  width: 100%;
}

.book-info {
  margin: 0 50px;
  width: 600px;
}

.book-img {
  height: 100%;
  width: 260px;
}

.book-badge {
  position: absolute;
  transform: rotate(20deg) scale(0.2) translate(-120px,-1200px);
}

.book-header {
  border-bottom: 4px solid $earls-green;
  @extend %item-row;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.book-item {
  @extend %item-row;
  margin: 50px auto;
}

.book-title,
.item-key {
  color: $black;
}

.book-gender,
.item-value {
  color: $grey;
}

.book-title {
  @include texto(32px, 700, 38px);
  margin-right: 5px;
}

.book-gender {
  @include texto(24px, 700, 28px);
}

.item-key {
  @include texto(20px, 700, 24px);
  margin-right: 5px;
}

.item-value {
  font-size: 20px;
  line-height: 24px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}

.list-book {
  background-color: $white;
  display: flex;
  flex-flow: column wrap;
  @include shadow;
  margin: 20px;
  padding: 25px;
}

.list-book-img {
  height: 200px;
  width: 140px;
}

.list-book-title {
  @include texto(16px, 700, 18px);
  margin-top: 10px;
}

.list-book-author {
  color: $grey;
  font-size: 14px;
  line-height: 18px;
  margin-top: 5px;
}
