.book {
  align-items: center;
  background-color: $white;
  box-shadow: 4px 4px 10px 0 $black-transparent;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  margin: 0 auto;
  max-height: 415px;
  max-width: 1000px;
  width: 100%;
}

.book-info {
  margin: 10px auto;
}

.book-header {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
}

.book-item {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin: 50px auto;
}

.book-title {
  color: $black;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  margin-right: 5px;
}

.book-gender {
  color: $grey;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.item-key {
  color: $black;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 5px;
}

.item-value {
  color: $grey;
  font-size: 20px;
  line-height: 24px;
}
