@mixin login-item($margin) {
  @extend %login-text;
  margin: $margin;
  width: 100%;
}

%login-text {
  border-radius: 5px;
  font-size: #{$big-font-size - 4};
  line-height: #{$line-height-base + 4};
}

.login-box {
  align-items: center;
  background-color: $wild-sand;
  display: flex;
  flex-direction: column;
  @include border-top($cerulean);
  justify-content: space-between;
  margin: 0 auto;
  max-width: 300px;
  padding: 25px;
  position: relative;
  top: 180px;
  width: 100%;
}

.login-box-logo {
  height: 70px;
  margin-bottom: 10px;
}

.login-box-text {
  @extend %login-text;
  margin-bottom: 5px;
}

.login-box-input {
  @extend %login-text;
  height: 35px;
}

.form-group {
  display: flex;
  flex-direction: column;
  @include login-item(5px 0);
}

.btn-login {
  background-color: $earls-green;
  color: $white;
  height: 30px;
  @include login-item(0 0 15px 0);
}

.btn-sign-up {
  border: 2px solid $earls-green;
  color: $earls-green;
  height: 30px;
  @include login-item(15px 0 0 0);
}

.login-box-divider {
  border: 1px solid $silver-chalice;
  width: 100%;
}

.form-buttons {
  align-self: stretch;
  margin-top: 15px;
}
