@mixin border-top ($color) {
  border-top: 7px solid $color;
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }
  75% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.nav {
  align-items: center;
  background-color: $white;
  display: flex;
  height: 80px;
  height: $nav-height;
  @include border-top($cerulean);
  @include shadow;
  justify-content: space-evenly;
  margin: 0 auto;
}

.nav-logo {
  animation: slidein 3s;
  height: 70px;
}

.nav-logout {
  font-size: #{$big-font-size -2};
  line-height: #{$line-height-base +1};
}
