@mixin border-top-cerulean {
  border-top: 7px solid $cerulean;
}

.nav {
  align-items: center;
  background-color: $white;
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  @include border-top-cerulean();
  @include shadow;
  justify-content: space-evenly;
  margin: auto;
  max-height: 100%;
  position: sticky;
}

.nav-logo {
  max-height: 70px;
}

.nav-logout {
  font-size: 18px;
  line-height: 21px;
}
