nav.nav
  img.nav-logo(src='./../assets/wbooks_logo.svg' alt='Wolox')
  .nav-items
    img.nav-item(src='./../assets/notifications.svg', alt='notifications')
    img.nav-item(src='./../assets/add_book.svg' alt='add_book')
    img.nav-avatar(src='./../assets/avatar.png' alt='avatar' ng-click='$ctrl.logout()')
ui-view
